.sth-main {
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
}

.sth-top {
    position: relative;
}

.sth-top h2 {
    font-weight: 700;
    color: #fff;
    font-size: 40px;
    margin: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #48484833;
}

.sth-top img {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(0, -50%);
    max-width: 36px;
}

.sth-top:not(:last-child)::before {
    content: '';
    display: block;
    position: absolute;
    top: 31%;
    left: 15%;
    width: 300px;
    height: 3px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #48484826 0, #48484826 50%, transparent 50%);
    background-size: 15px 2px;
    background-repeat: repeat-x;
}

.sth-bottom {
    position: relative;
    padding: 5px 15px 10px;
    text-align: center;
}

.sth-bottom::before {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(64.55% 84.55% at 50% 50%, #d96122 0, rgba(255, 255, 255, 0) 91.42%);
    border-radius: 20px;
    padding: 2px;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}