.rjte-body {
    width: 100%;
}

.rjte-main {
    width: 90%;
    margin: auto;
}

.rjte-title {
    text-align: center;
}

.rjte-content {
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
    gap: 25px;
}

.rjtec-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rjtect-card {
    width: 200px;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* margin: 15px 5px; */
    background-color: #fff;
    border: none;
    box-shadow: 2px 2px 10px #9c9c9c;
}

.rjtect-card a {
    background-color: transparent;
    color: #373737;
    text-decoration: none;
}

.rjtect-card:nth-child(odd) {
    border: 1.6px dotted #ff0404;
    box-shadow: 1px 1px 10px #9c9c9c;
}

.rjtect-data {
    /* width: 100%; */
    /* height: 100%; */
    padding: 0 10px;
    padding-top: 20px;
    text-align: center;
}

.rjtecb-data img {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.rjtec-bottom {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rjtecb-card {
    width: 200px;
    aspect-ratio: 3/2;
    object-fit: contain;
    /* margin: 15px 5px; */
    background-color: #fff;
    border: none;
    box-shadow: 2px 2px 10px #9c9c9c;
}

.rjtecb-card a {
    background-color: transparent;
    color: #373737;
    text-decoration: none;
}

.rjtecb-card:nth-child(even) {
    border: 1.6px dotted #ff0404;
    box-shadow: 1px 1px 10px #9c9c9c;
}

.rjtecb-data {
    /* width: 100%; */
    /* height: 100%; */
    padding-top: 20px;
    text-align: center;
}

.rjtecb-data img {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
}