.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 20px; */
}

.logo img {
    width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    text-decoration: none;
    color: #242424;
    padding: 12px 16px;
    cursor: pointer;
}

.nav-links li a:hover {
    color: #d96122;
    background-color: #f1f1f1;
}

.menu-icon {
    display: none;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    /* padding: 12px; */
    max-width: 100%;
    left: 0;
    right: 0;
    min-width: 50%;
    /* Optional: Add some border-radius for rounded edges */
}

.dropdown-content a {
    color: #242424;
    padding: 10px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-flex {
    display: flex;
    gap: 2rem;
    justify-content: center;
    /* Center the flex items */
}

/* Individual columns inside the flex container */
.dropdown-column {
    flex: 1;
    padding: 10px;
}

/* Heading styles inside the dropdown columns */
.dropdown-column h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.dropdown-section {
    flex: 1;
    padding: 10px;
}

.quote-button button {
    background-color: rgba(217, 97, 34, 0.3);
    color: #da6427;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}

.quote-button button:hover {
    background-color: rgba(217, 97, 34, 0.5);
}

@media screen and (min-width: 780px) and (max-width: 882px) {
    .nav-links {
        gap: 1rem;
    }

    .nav-links li a {
        padding: 8px 10px;
    }
}

/* Mobile View CSS */
@media screen and (max-width: 780px) {
    .ns-body {
        background-color: white;
    }

    .navbar {
        background-color: white;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-top: 1px solid #ddd;
        background-color: white;
    }

    .nav-links.active {
        display: flex;
        align-items: center;
        /* Center align all items */
    }

    .nav-links li {
        width: 100%;
        /* Ensure the list items take full width */
        text-align: center;
        /* Center align the text inside list items */
    }

    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .quote-button {
        display: none;
    }

    .dropdown-content {
        /* display: block; */
        position: relative;
        box-shadow: none;
        padding: 0;
        max-width: 90%;
        /* Control maximum width on mobile */
        left: 50%;
        /* Center horizontally */
        transform: translateX(-50%);
        /* Adjust for center positioning */
    }

    .dropdown-flex {
        flex-direction: column;
        /* Stack dropdown content vertically */
        align-items: center;
        /* Center align dropdown content */
    }

    .dropdown-column {
        padding: 5px;
    }

    .dropdown-content a {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: center;
        /* Center align dropdown links */
    }

    .dropdown-content a:last-child {
        border-bottom: none;
    }

    .dropdown-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .dropdown-section {
        padding: 5px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    /* .dropdown-content {
        display: none;
    } */

    .dropdown.open .dropdown-content {
        display: block;
    }
}