/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

/* Logo Styling */
.logo img {
    width: 200px;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all 0.3s ease;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    text-decoration: none;
    color: #242424;
    padding: 12px 16px;
}

.nav-links li a:hover {
    color: #d96122;
    background-color: #f1f1f1;
}

/* Menu Icon for Mobile */
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Quote Button */
.quote-button button {
    background: rgba(217, 97, 34, 0.3);
    color: #da6427 !important;
    border: 2px solid transparent;
    font-weight: 600 !important;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px !important;
    transition: all ease-in-out 0.5s;
}

.quote-button button:hover {
    background-color: rgba(217, 97, 34, 0.5);
}

/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    /* padding: 12px; */
    max-width: 100%;
    left: 0;
    right: 0;
    min-width: 50%;
}

/* Dropdown Flex Layout */
.dropdown-flex {
    display: flex;
    width: 100%;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.dropdown-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    
}

.dropdown-column h1 {
    font-size: 16px;
}

.dropdown-column a {
    display: flex;
  justify-self: start;
    gap: 10px;
    padding: 5px 0;
}

.dropdown-column a .icon {
    font-size: 18px;
}

.dropdown-column a:hover {
    color: #d96122;
    background-color: #f1f1f1;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Responsive Styles */
@media (max-width: 780px) {
    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-top: 1px solid #ddd;
        transition: all 0.3s ease;
        transform: translateY(-100%);
    }

    .nav-links.active {
        transform: translateY(0);
    }

    .menu-icon {
        display: block;
    }

    .quote-button {
        display: none;
    }

    .dropdown-content {
        position: relative;
        margin-top: 0;
        box-shadow: none;
    }
}

@media (min-width: 769px) {
    .nav-links {
        display: flex;
        position: static;
        transform: translateY(0);
    }
}
